title = "Order"
url = "/order"
layout = "default"
is_hidden = 0

[session]
security = "user"
redirect = "login"

[Atoz\Commerce\Components\Orders Orders]
==
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <form>
                <div class="text-right">
                    <input type="text" name="search" placeholder="search order number">Search</input>
                </div>
            </form>
        </div>
        <br><br>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-1">
                    Order No.
                </div>
                <div class="col-sm-2">
                    Order No.
                </div>
                <div class="col-sm-3">
                    Description
                </div>
                <div class="col-sm-3">
                    Total
                </div>
                <div class="col-sm-3">
                    Information
                </div>
            </div>
            {% for order in orders %}
            <div class="row">
                <div class="col-sm-1">
                    {{loop.index}}
                </div>
                <div class="col-sm-2">
                    {{order.order_number}}
                </div>
                <div class="col-sm-3">
                    {% if order.product_type == "prepaid" %}
                        {{ order.sum|number_format(0, ',', '.')}} for {{ order.phone_number }}
                    {% else %}
                        {{ order.product.name }} that cost {{ order.product.price }}
                    {% endif %}
                </div>
                <div class="col-sm-3">
                    {{order.total}}
                </div>
                <div class="col-sm-3">
                    {% if order.status_code == "paid" %}
                        {% if order.product_type == "normal" %}
                            Shipping code: {{order.shipping_code}}
                        {% else %}
                            {% set prepaidStatus = order.log_statuses.last().isSucceed %}
                            {% if prepaidStatus == 0 %}
                                <label class="text-danger">fail</label>
                            {% else %}
                            <label class="text-success">success</label>
                            {% endif %}
                        {% endif %}
                    {% elseif order.status_code == "seen" %}
                        <a href="/payment/{{order.order_number}}" class="btn btn-sm btn-primary">Pay</a>
                    {% else %}
                        {{order.status_code}}
                    {% endif %}
                </div>
            </div>
            {% endfor %}

            {% set query = null %}
            {% if search %}
                {% set query = "&search=" ~ search %}
            {% endif %}
            
            <label>Page {{orders.currentPage()}} from {{orders.lastPage()}}</label>
            <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="{{orders.previousPageUrl() ~ query}}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="{{orders.nextPageUrl() ~ query}}">Next</a></li>
            </ul>
            </nav>
        </div>
    </div>
</div>